USE [master]
GO
/****** Object:  Database [SWP_Project]    Script Date: 3/28/2024 10:11:05 PM ******/
CREATE DATABASE [SWP_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP_Project', FILENAME = N'E:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\SWP_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP_Project_log', FILENAME = N'E:\New folder\MSSQL16.MSSQLSERVER\MSSQL\DATA\SWP_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP_Project]
GO
/****** Object:  Table [dbo].[AuthorizeMap]    Script Date: 3/28/2024 10:11:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizeMap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[user] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[conversationID] [int] IDENTITY(1,1) NOT NULL,
	[MentorID] [int] NULL,
	[MenteeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[conversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[CvID] [int] IDENTITY(1,1) NOT NULL,
	[ProfessionIntroduction] [nvarchar](255) NULL,
	[ServiceDescription] [nvarchar](255) NULL,
	[CashPerSlot] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[FollowID] [int] IDENTITY(1,1) NOT NULL,
	[MentorID] [int] NULL,
	[MenteeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowRequest]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestTime] [date] NULL,
	[DeadLineTime] [date] NULL,
	[Subject] [nvarchar](255) NULL,
	[Content] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[MentorID] [int] NULL,
	[SenderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentee]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentee](
	[UserID] [int] NULL,
	[MenteeStatus] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mentor]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mentor](
	[UserID] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[CvID] [int] NULL,
	[Achivement] [nvarchar](255) NULL,
	[MentorStatus] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentorSkills]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorSkills](
	[SkillID] [int] NULL,
	[MentorID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[conversationID] [int] NULL,
	[SenderID] [int] NULL,
	[sentAt] [datetime] NULL,
	[msgContent] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](255) NULL,
	[Balance] [int] NULL,
	[UserID] [int] NULL,
	[ReceiverID] [int] NULL,
	[Time] [datetime] NULL,
	[RequestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[MentorID] [int] NULL,
	[MenteeID] [int] NULL,
	[noStar] [int] NULL,
	[ratingComment] [ntext] NULL,
	[rateTime] [datetime] NOT NULL,
	[RequestID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectRequest]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectRequest](
	[RequestID] [int] NULL,
	[Reason] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportContent] [text] NULL,
	[reportTime] [datetime] NULL,
	[UserID] [int] NULL,
	[Status] [nchar](10) NULL,
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NULL,
	[UserID] [int] NULL,
	[RequestReason] [nvarchar](255) NULL,
	[RequestStatus] [nvarchar](255) NULL,
	[RequestTime] [datetime] NOT NULL,
	[DeadlineTime] [datetime] NOT NULL,
	[RequestSubject] [nvarchar](255) NULL,
	[SkillID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestSlot]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestSlot](
	[RequestID] [int] NULL,
	[SlotID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatus]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[MentorID] [int] NULL,
	[Year] [int] NULL,
	[Week] [int] NULL,
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Schedule__9C8A5B69F7CD8C26] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](255) NULL,
	[enable] [bit] NOT NULL,
	[Skilldescription] [ntext] NOT NULL,
	[Imageskill] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [float] NULL,
	[startAt] [datetime] NULL,
	[Link] [nchar](50) NULL,
	[ScheduleID] [int] NULL,
	[SkillID] [int] NULL,
	[MenteeID] [int] NULL,
	[Status] [nchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Balance] [int] NULL,
	[Type] [nvarchar](1) NULL,
	[Content] [nvarchar](255) NULL,
	[Time] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[TransCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[sex] [bit] NULL,
	[activeStatus] [bit] NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[dob] [date] NULL,
	[email] [varchar](255) NULL,
	[phoneNumber] [varchar](10) NULL,
	[wallet] [int] NULL,
	[address] [nvarchar](255) NULL,
	[RoleID] [int] NULL,
	[isValidate] [bit] NULL,
	[Avatar] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBank]    Script Date: 3/28/2024 10:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBank](
	[UserID] [int] NULL,
	[BankName] [nvarchar](255) NULL,
	[BankType] [nvarchar](100) NULL,
	[BankNo] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuthorizeMap] ON 

INSERT [dbo].[AuthorizeMap] ([id], [path], [user]) VALUES (1, N'/admin/authorization', N'admin')
INSERT [dbo].[AuthorizeMap] ([id], [path], [user]) VALUES (2, N'/admin/request', N'admin, manager')
INSERT [dbo].[AuthorizeMap] ([id], [path], [user]) VALUES (3, N'/admin/skill', N'admin')
SET IDENTITY_INSERT [dbo].[AuthorizeMap] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversation] ON 

INSERT [dbo].[Conversation] ([conversationID], [MentorID], [MenteeID]) VALUES (1, 6, 3)
SET IDENTITY_INSERT [dbo].[Conversation] OFF
GO
SET IDENTITY_INSERT [dbo].[CV] ON 

INSERT [dbo].[CV] ([CvID], [ProfessionIntroduction], [ServiceDescription], [CashPerSlot]) VALUES (1, N'Có kinh nghiệm 5 năm trong việc dạy học tại trường đại học X.', N'Vui vẻ nhiệt tình giải đáp mọi câu hỏi của bạn.', 500000)
INSERT [dbo].[CV] ([CvID], [ProfessionIntroduction], [ServiceDescription], [CashPerSlot]) VALUES (4, N'Tôi là một Mentor và chuyên gia trong lĩnh vực ngôn ngữ lập trình, với sự chú tâm đặc biệt đến việc phát triển kỹ năng và hiểu biết của học viên.', N'Hỗ trợ cá nhân cho học viên với nhiều cấp độ kỹ năng, từ người mới học đến những người muốn nâng cao.', 50000)
INSERT [dbo].[CV] ([CvID], [ProfessionIntroduction], [ServiceDescription], [CashPerSlot]) VALUES (5, N'Lập trình viên chuyên nghiệp với khả năng giải quyết vấn đề và sáng tạo trong việc phát triển ứng dụng.', N'Hướng Dẫn Cá Nhân:  Hỗ trợ cá nhân cho học viên ở mọi cấp độ, từ người mới học đến những người muốn nâng cao.', 50000)
SET IDENTITY_INSERT [dbo].[CV] OFF
GO
SET IDENTITY_INSERT [dbo].[Follow] ON 

INSERT [dbo].[Follow] ([FollowID], [MentorID], [MenteeID]) VALUES (1, 5, 3)
SET IDENTITY_INSERT [dbo].[Follow] OFF
GO
INSERT [dbo].[Mentee] ([UserID], [MenteeStatus]) VALUES (3, N'Active')
INSERT [dbo].[Mentee] ([UserID], [MenteeStatus]) VALUES (4, N'Active')
GO
INSERT [dbo].[Mentor] ([UserID], [Description], [CvID], [Achivement], [MentorStatus]) VALUES (5, N'Đẹp trai nhiều tiền', 1, N'Đã hỗ trợ học tập được 15 học viên.', N'Accepted')
INSERT [dbo].[Mentor] ([UserID], [Description], [CvID], [Achivement], [MentorStatus]) VALUES (6, N'Tôi là một chuyên gia về ngôn ngữ lập trình với hơn 5 năm kinh nghiệm trong việc phát triển và giảng dạy. Sự đam mê của tôi nằm ở việc chia sẻ kiến thức và giúp đỡ người khác phát triển kỹ năng lập trình của họ. ', 4, N'Chứng chỉ và Bằng cấp:  Bằng Cử nhân Khoa học Máy tính tại Đại học ABC. Chứng chỉ Java Developer từ Trung tâm Đào tạo CNTT XYZ.', N'Accepted')
INSERT [dbo].[Mentor] ([UserID], [Description], [CvID], [Achivement], [MentorStatus]) VALUES (7, N'Chuyên gia lập trình với niềm đam mê về sự sáng tạo và giải quyết vấn đề.', 5, N'Phát triển và triển khai thành công trang web cá nhân với tính năng blog và portfolio.', N'Accepted')
GO
INSERT [dbo].[MentorSkills] ([SkillID], [MentorID]) VALUES (1, 5)
INSERT [dbo].[MentorSkills] ([SkillID], [MentorID]) VALUES (2, 5)
INSERT [dbo].[MentorSkills] ([SkillID], [MentorID]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageID], [conversationID], [SenderID], [sentAt], [msgContent]) VALUES (1, 1, 3, CAST(N'2024-01-01T01:02:39.063' AS DateTime), N'hello anh, anh dạy được ngôn ngữ C không ạ?')
INSERT [dbo].[Message] ([MessageID], [conversationID], [SenderID], [sentAt], [msgContent]) VALUES (2, 1, 6, CAST(N'2024-01-01T01:03:35.703' AS DateTime), N'Có đó em, em tạo request rồi chọn thời gian học nhé.')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([ID], [Status], [Balance], [UserID], [ReceiverID], [Time], [RequestID]) VALUES (1, N'Received', 150000, 3, 6, CAST(N'2024-03-28T15:13:48.410' AS DateTime), 1)
INSERT [dbo].[Payment] ([ID], [Status], [Balance], [UserID], [ReceiverID], [Time], [RequestID]) VALUES (2, N'Received', 100000, 4, 6, CAST(N'2024-02-12T15:37:19.647' AS DateTime), 2)
INSERT [dbo].[Payment] ([ID], [Status], [Balance], [UserID], [ReceiverID], [Time], [RequestID]) VALUES (3, N'Received', 150000, 3, 15, CAST(N'2024-01-03T21:50:03.077' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[Rating] ([MentorID], [MenteeID], [noStar], [ratingComment], [rateTime], [RequestID]) VALUES (6, 3, 5, N'Rất bổ ích', CAST(N'2024-03-28T15:18:48.563' AS DateTime), 1)
INSERT [dbo].[Rating] ([MentorID], [MenteeID], [noStar], [ratingComment], [rateTime], [RequestID]) VALUES (15, 3, 5, N'Tuyệt vời, chị này 10/10', CAST(N'2024-01-19T21:52:27.503' AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([RequestID], [SenderID], [UserID], [RequestReason], [RequestStatus], [RequestTime], [DeadlineTime], [RequestSubject], [SkillID]) VALUES (1, 3, 6, N'Em là Hồng, em muốn đăng kí học ngôn ngữ C', N'Done', CAST(N'2024-01-01T01:04:51.617' AS DateTime), CAST(N'2024-01-08T01:04:00.000' AS DateTime), N'học C', 3)
INSERT [dbo].[Request] ([RequestID], [SenderID], [UserID], [RequestReason], [RequestStatus], [RequestTime], [DeadlineTime], [RequestSubject], [SkillID]) VALUES (2, 4, 6, N'Anh cho em đăng kí học java với', N'Done', CAST(N'2024-02-17T13:29:53.180' AS DateTime), CAST(N'2024-02-20T13:29:00.000' AS DateTime), N'học Java', 2)
INSERT [dbo].[Request] ([RequestID], [SenderID], [UserID], [RequestReason], [RequestStatus], [RequestTime], [DeadlineTime], [RequestSubject], [SkillID]) VALUES (3, 3, 15, N'Em cần tìm gia sư hỏi đáp về MySQL', N'Done', CAST(N'2024-01-03T21:49:24.890' AS DateTime), CAST(N'2024-01-04T21:48:00.000' AS DateTime), N'Thuê gia sư', 12)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
INSERT [dbo].[RequestSlot] ([RequestID], [SlotID]) VALUES (1, 1)
INSERT [dbo].[RequestSlot] ([RequestID], [SlotID]) VALUES (1, 2)
INSERT [dbo].[RequestSlot] ([RequestID], [SlotID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[RequestStatus] ON 

INSERT [dbo].[RequestStatus] ([id], [status]) VALUES (1, N'Open')
INSERT [dbo].[RequestStatus] ([id], [status]) VALUES (2, N'Close')
INSERT [dbo].[RequestStatus] ([id], [status]) VALUES (3, N'Processing')
SET IDENTITY_INSERT [dbo].[RequestStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [roleName]) VALUES (2, N'Manager')
INSERT [dbo].[Role] ([RoleID], [roleName]) VALUES (3, N'Mentor')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([MentorID], [Year], [Week], [ScheduleID]) VALUES (6, 2024, 2, 1)
INSERT [dbo].[Schedule] ([MentorID], [Year], [Week], [ScheduleID]) VALUES (6, 2024, 8, 2)
INSERT [dbo].[Schedule] ([MentorID], [Year], [Week], [ScheduleID]) VALUES (5, 2024, 13, 3)
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillID], [SkillName], [enable], [Skilldescription], [Imageskill]) VALUES (1, N'Lập trình Python', 1, N'Python là ngôn ngữ lập trình đa năng, nhẹ nhàng và dễ đọc. Mentor sẽ hướng dẫn mentee cách sử dụng Python trong phân tích dữ liệu, trí tuệ nhân tạo và phát triển web, giúp họ xây dựng ứng dụng hiệu quả và linh hoạt.', N'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png')
INSERT [dbo].[Skills] ([SkillID], [SkillName], [enable], [Skilldescription], [Imageskill]) VALUES (2, N'Lập trình Java', 1, N'Java là ngôn ngữ mạnh mẽ, chủ yếu sử dụng trong phát triển ứng dụng đa nền tảng. Mentor sẽ hỗ trợ mentee trong việc nắm vững Java để xây dựng các ứng dụng lớn, an toàn và hiệu quả.', N'https://tuyendung.kfcvietnam.com.vn/Data/Sites/1/media/blog/java-la-gi.jpg')
INSERT [dbo].[Skills] ([SkillID], [SkillName], [enable], [Skilldescription], [Imageskill]) VALUES (3, N'Lập trình C', 1, N'Ngôn ngữ C là cơ sở của nhiều hệ điều hành và ứng dụng nhúng. Mentor sẽ giúp mentee hiểu sâu về C, từ cơ bản đến nâng cao, để họ có khả năng xây dựng các hệ thống nhúng và ứng dụng hiệu quả.', N'https://webimages.mongodb.com/_com_assets/cms/l3etz1z9tduxvdoni-c.svg?auto=format%252Ccompress')
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([SlotID], [Time], [startAt], [Link], [ScheduleID], [SkillID], [MenteeID], [Status]) VALUES (1, 1.3333333730697632, CAST(N'2024-01-08T07:30:00.000' AS DateTime), N'https://meet.google.com/dam-hjrj-ozc              ', 1, 3, 3, N'Done                ')
INSERT [dbo].[Slot] ([SlotID], [Time], [startAt], [Link], [ScheduleID], [SkillID], [MenteeID], [Status]) VALUES (2, 1.3333333730697632, CAST(N'2024-01-10T07:30:00.000' AS DateTime), N'https://meet.google.com/dam-hjrj-ozc              ', 1, 3, 3, N'Done                ')
INSERT [dbo].[Slot] ([SlotID], [Time], [startAt], [Link], [ScheduleID], [SkillID], [MenteeID], [Status]) VALUES (3, 1.3333333730697632, CAST(N'2024-01-12T07:30:00.000' AS DateTime), N'https://meet.google.com/dam-hjrj-ozc              ', 1, 3, 3, N'Done                ')
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([ID], [UserID], [Balance], [Type], [Content], [Time], [Status], [TransCode]) VALUES (1, 3, 200000, N'+', N'Thanh toan don hang:49104421', CAST(N'2024-02-06' AS Date), N'Pending', 49104421)
INSERT [dbo].[Transaction] ([ID], [UserID], [Balance], [Type], [Content], [Time], [Status], [TransCode]) VALUES (2, 3, 300000, N'+', N'Thanh toan don hang:80833131', CAST(N'2024-03-28' AS Date), N'Pending', 80833131)
INSERT [dbo].[Transaction] ([ID], [UserID], [Balance], [Type], [Content], [Time], [Status], [TransCode]) VALUES (3, 3, 300000, N'+', N'Thanh toan don hang:80010974', CAST(N'2024-03-28' AS Date), N'Success', 80010974)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [sex], [activeStatus], [username], [password], [dob], [email], [phoneNumber], [wallet], [address], [RoleID], [isValidate], [Avatar], [fullname]) VALUES (1, 0, 1, N'admin', N'123', CAST(N'1984-11-14' AS Date), N'anhlong123@gmail.com', N'0123456789', 0, N'Hà Nội', 1, 0, NULL, NULL)
INSERT [dbo].[User] ([UserID], [sex], [activeStatus], [username], [password], [dob], [email], [phoneNumber], [wallet], [address], [RoleID], [isValidate], [Avatar], [fullname]) VALUES (2, 1, 1, N'manager', N'123', CAST(N'1999-05-03' AS Date), NULL, N'0923874567', 0, N'Hà Nội', 2, 0, NULL, NULL)
INSERT [dbo].[User] ([UserID], [sex], [activeStatus], [username], [password], [dob], [email], [phoneNumber], [wallet], [address], [RoleID], [isValidate], [Avatar], [fullname]) VALUES (3, 1, 1, N'thihong', N'123', CAST(N'2005-06-09' AS Date), N'thihong@gmail.com', N'0823476854', 0, N'Cà Mau', 4, 1, N'avatar/coco_3.png', N'Nguyễn Thị Hồng')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserBank] ([UserID], [BankName], [BankType], [BankNo]) VALUES (3, N'Nguyễn Thị Hồng', N'Vietcombank', N'0987564654')
INSERT [dbo].[UserBank] ([UserID], [BankName], [BankType], [BankNo]) VALUES (4, N'Văn Quá', N'Vietinbank', N'0928743654')
GO
ALTER TABLE [dbo].[CV] ADD  CONSTRAINT [DF_CV_CashPerSlot]  DEFAULT ((50000)) FOR [CashPerSlot]
GO
ALTER TABLE [dbo].[FollowRequest] ADD  DEFAULT (getdate()) FOR [RequestTime]
GO
ALTER TABLE [dbo].[FollowRequest] ADD  DEFAULT (dateadd(day,(7),getdate())) FOR [DeadLineTime]
GO
ALTER TABLE [dbo].[Mentee] ADD  CONSTRAINT [DF_Mentee_MenteeStatus]  DEFAULT (N'Active') FOR [MenteeStatus]
GO
ALTER TABLE [dbo].[Mentor] ADD  CONSTRAINT [DF_Mentor_MentorStatus]  DEFAULT (N'Active') FOR [MentorStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_Time]  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[Rating] ADD  CONSTRAINT [DF_Rating_rateTime]  DEFAULT (getdate()) FOR [rateTime]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_reportTime]  DEFAULT (getdate()) FOR [reportTime]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Request] ADD  DEFAULT (getdate()) FOR [RequestTime]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((1)) FOR [enable]
GO
ALTER TABLE [dbo].[Slot] ADD  CONSTRAINT [DF_Slot_Status]  DEFAULT (N'Not Confirm') FOR [Status]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT (getdate()) FOR [Time]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [isValidate]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([MenteeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([MenteeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[FollowRequest]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[FollowRequest]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Mentee]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Mentor]  WITH CHECK ADD FOREIGN KEY([CvID])
REFERENCES [dbo].[CV] ([CvID])
GO
ALTER TABLE [dbo].[Mentor]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MentorSkills]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MentorSkills]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([conversationID])
REFERENCES [dbo].[Conversation] ([conversationID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([MenteeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[RejectRequest]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[RequestSlot]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[RequestSlot]  WITH CHECK ADD FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([MentorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD FOREIGN KEY([MenteeID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK__Slot__ScheduleID__797309D9] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK__Slot__ScheduleID__797309D9]
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserBank]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
USE [master]
GO
