<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>Controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSkillController</servlet-name>
        <servlet-class>Controller.admin.AdminSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiWalletController</servlet-name>
        <servlet-class>Controller.Api.WalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiScheduleController</servlet-name>
        <servlet-class>Controller.Api.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>Controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCvController</servlet-name>
        <servlet-class>Controller.admin.AdminCvController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTransactionController</servlet-name>
        <servlet-class>Controller.admin.AdminTransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminRequestController</servlet-name>
        <servlet-class>Controller.admin.AdminRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRequestController</servlet-name>
        <url-pattern>/admin/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSkillController</servlet-name>
        <url-pattern>/admin/skill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiScheduleController</servlet-name>
        <url-pattern>/api/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCvController</servlet-name>
        <url-pattern>/admin/cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTransactionController</servlet-name>
        <url-pattern>/admin/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiWalletController</servlet-name>
        <url-pattern>/api/wallet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
